* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  color: burlywood;
  border: 1px solid orangered;
  max-width: 855px;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg);
}
.game {
  display: flex;
  border: 2px solid orangered;
  height: 50px;
  width: 500px;
  justify-content: space-between;
  /* justify-content: center; */
}
